/* .slick-prev, .slick-next {
    font-size: 24px;
    color:red;
} 
[dir='rtl'] .slick-next {
    right: auto;
    left: 7px;
    
}
[dir='rtl'] .slick-prev {
    right: 7px;
    left: auto;
    background: red;
}

.slick-prev:before, .slick-next:before {
    color: black;
} */
@media only screen and (max-width: 575px) {
.small{
    flex-wrap: wrap;
}
.imgCont{
    width: 100% !important;
}
}